   .personnel-form {
            width: 215.9mm;  
            height: 330.2mm; 
            box-sizing: border-box;
            margin: auto;
        }
        .personnel-form .form-group {
            margin-bottom: 15px;
        }
        .personnel-form label {
            display: block;
            margin-bottom: 5px;
        }
        .personnel-form input, .personnel-form textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .personnel-form1 {
            width: 210mm;  
            height: 297mm; 
            box-sizing: border-box;
         
            margin: auto;
        }
        .personnel-form1 .form-group {
            margin-bottom: 15px;
        }
        .personnel-form1 label {
            display: block;
            margin-bottom: 5px;
        }
        .personnel-form1 input, .personnel-form1 textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .personnel-form2 {
            width: 210mm;  
            height: 297mm; 
            box-sizing: border-box;
            margin: auto;
        }
        .personnel-form2 .form-group {
            margin-bottom: 15px;
        }
        .personnel-form2 label {
            display: block;
            margin-bottom: 5px;
        }
        .personnel-form2 input, .personnel-form2 textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

   img.img{
    display: block;
    margin: 0 auto;

   }   
   img.img1{
    margin-bottom:2em ;
    height: 60px;
    width: 700px;
    margin: auto;
    display: block;
   } 

   #img2{
    height: 180px;
    margin: 0 auto;
    justify-content: center;
    display: block;
   }
     
     
   p.title{
    margin-top: -.5em;
    text-align: center;
    font-family: "Bookman Old Style", Georgia, serif;
    font-weight: bold;
    font-size: 18px;
   }
   p.line{
    margin-top: -1em;
    font-weight: bold;
    text-align: center;
   }
   #printTable{
    display: block;
    margin-inline: 3em;
    border:1px solid black;
 
   }
   #printTable2{
    display: block;
    margin-inline: 3em;
    justify-content: center;
   }
   th{
    border:1px solid black;
    font-family: "Bookman Old Style", Georgia, serif;
   }
   /* tr{
    border: 1px solid black;
   } */
 
   p.text{
    margin-bottom: 1.5em;
    font-weight: normal;
    font-family: "Bookman Old Style", Georgia, serif;
    font-size: 12px;
   }
   p.signature{
    font-weight: normal;
    margin-top: -3em;
    font-family: "Bookman Old Style", Georgia, serif;
   }
   .signature div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.signature div p {
    margin: 0;
}
p.signature3{
    font-weight: normal;
    margin-top: -3em;
    font-family: "Bookman Old Style", Georgia, serif;
   }
   .signature3 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.signature3 div p {
    margin: 0;
}
p.signature4{
    font-weight: normal;
    margin-top: -3em;
    font-family: "Bookman Old Style", Georgia, serif;
   }
   .signature4 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.signature4 div p {
    margin: 0;
}
td{
    font-family: "Bookman Old Style", Georgia, serif;
    border:1px solid black;
}

h6{
    font-family: "Bookman Old Style", Georgia, serif;
}




.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  

  .container:hover input ~ .checkmark {
    background-color: rgb(13, 105, 224);

  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


 
button.btn1 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #e6e2e2;
  cursor: pointer;
  display: inline-flex;
  font-family: "Bookman Old Style", Georgia, serif;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button.btn1:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button.btn1:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button.btn1:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



 
button.btn2 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e6e2e2;
    cursor: pointer;
    display: inline-flex;
    font-family: "Bookman Old Style", Georgia, serif;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  button.btn2:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  button.btn2:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button.btn2:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }


  
 
button.btn3 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e6e2e2;
    cursor: pointer;
    display: inline-flex;
    font-family: "Bookman Old Style", Georgia, serif;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  button.btn3:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  button.btn3:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button.btn3:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }



  .is-invalid {
    border: .2px solid red;
}


